#navbar .navbar-light{
    background-color: white !important;
}

#navbar .nav-item{
    margin-left: 40px;
}

#navbar .nav-item a{
    font-family: poppins;
    font-size: 16px;
    color: #2F4858;
}

#navbar .nav-item .btn-primary {
    padding: 8px 32px;
    color: #fff;
    background-color: #FBC343;
    border: none;
}

#navbar .navbar-brand img {
    width: 40px;
    height: 40px;
}

#navbar{
    margin: 16px 80px;
}


/* Mobile design */
@media screen and (max-width: 600px) {

    /* Menu designs */
    #navbar {
        margin: 16px 16px;
    }

    #navbar .nav-item {
        margin-left: 0px;
    }
}
