/* Menu section */
#menu-section{
    padding: 20px 0px;
}

#menu-section .btn-primary,
#menu-section .btn-primary:hover{
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    padding: 16px 40px;
    background-color: #FBC343;
    border-color: #FBC343;
    color: white;
}

#menu-section img {
    width: 150px;
}

#menu-section .nav-item {
    margin-right: 16px;
}

#menu-section .nav-item a {
    font-family: Poppins;
    font-size: 16px;
}

#menu-section .bg-light{
    background-color: #FFFFFF !important;
}




/* Hero section */

#hero-section{
    margin-top: 80px;
}

#hero-section h2{
    color: #1B3164;
    font-family: Poppins;
    font-size: 80px;
    font-weight: 600;
}

#hero-section h5{
    margin: 16px 0;
    color: #1B3164;
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
}

#hero-buttons{
    padding: 24px 0;
}

#hero-buttons .btn-primary{

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    border-radius: 100px;
    padding: 16px 40px;
}

#hero-buttons .button-primary,
#hero-buttons .button-primary:hover {

     background-color: #FBC343;
     border-color: #FBC343;
     color: white;
}

#hero-buttons .button-outline,
#hero-buttons .button-outline:hover {

     background-color: #fff;
     border-color: #FBC343;
     color: #FBC343;
     border-width: 2px;
}

#hero-section p{
    font-family: Roboto;
    font-size: 18px;
    color: #1B3164;
    font-weight: 500;
}

/* How to section */

#how-to-section{
    margin-top: 80px;
    background-color: #FCFCFC;
    padding: 16px 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#how-to-section p{
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    color: #1B3164;
    margin-bottom: 8px;
}

#how-to-section h5 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    color: #1B3164;
}

#how-to-section .get-started-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to-section .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Benefits section */
#benefits-section{
    margin-top: 80px;
}

#benefits-section h3 {
   font-family: Poppins;
   font-weight: 600;
   font-size: 48px;
   color: #1B3164;
    line-height: 64px;
    margin-bottom: 40px;
}

#benefits-section h3 span{
    color: #FBC343;
    text-decoration: underline;
}

.product-benefit{
    margin-top: 16px;
}
.product-benefit img{
    width: 24px;
}

.product-benefit h5{
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    color: #FBC343;
    margin-top: 16px;
}

.product-benefit p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color: #1B3164;
    margin-top: 8px;
}

/* Data storage and Finace */
#data-storage,
#tenant-payment{
    margin-top: 80px;
}

#data-storage h6,
#tenant-payment h6 {
     font-family: Poppins;
     font-weight: 500;
     font-size: 18px;
     color: #FBC343;
     margin-bottom: 16px;
}

#data-storage h3,
#tenant-payment h3 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 48px;
        color: #1B3164;
        line-height: 64px;
        margin-bottom: 16px;
}
#data-storage p,
#tenant-payment p {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        color: #1B3164;
        
}

#data-storage .features-group,
#tenant-payment .features-group {
        margin-top: 40px;
       display: flex;
       justify-content: space-evenly;
}

#data-storage .feature,
#tenant-payment .feature {
       display: flex;
       flex-direction: column;
        align-items: center;
}

#data-storage .feature img,
#tenant-payment .feature img {
       width: 80px;
       margin-bottom: 24px;
}

#data-storage .feature p,
#tenant-payment .feature p {
      text-align: center;
      font-size: 14px;

}

/* Pricing section */
#pricing-section{
    text-align: center;
    margin-top: 80px;
}

#pricing-section h6{
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #FBC343;
    margin-bottom: 16px;
}

#pricing-section h4{
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    color: #1B3164;
    line-height: 64px;
    margin-bottom: 16px;
}

#pricing-section h2{
     color: #1B3164;
     font-family: Poppins;
     font-size: 80px;
     font-weight: 700;
     margin-top: 40px;
}

#pricing-section h5{
     font-family: Poppins;
     font-weight: 500;
     font-size: 24px;
     color: #1B3164;
     margin-top: 16px;
}

#pricing-section a,
#pricing-section a:hover{
     font-family: Poppins;
     font-weight: 600;
     font-size: 16px;
     border-radius: 100px;
     padding: 16px 40px;
     background-color: #FBC343;
     border-color: #FBC343;
     color: white;
}

/* CTA */
#CTA{
    margin-top: 80px;
    background-color: #FBC343;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

#CTA h3{
       font-family: Poppins;
       font-weight: 600;
       font-size: 48px;
       color: #fff;
       line-height: 64px;
       margin-bottom: 16px;
}
#CTA h6{
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        margin-bottom: 16px;
}

#CTA-buttons .btn-primary {

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    border-radius: 100px;
    padding: 16px 40px;
}

#CTA-buttons .button-primary,
#CTA-buttons .button-primary:hover {

    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #FBC343;
}

#CTA-buttons .button-outline,
#CTA-buttons .button-outline:hover {

    background-color: #FBC343;
    border-color: #FFFFFF;
    color: #FFFFFF;
    border-width: 2px;
}

/* Footer */
#footer{
    margin-top: 80px;
    margin-bottom: 80px;
}

#footer img{
    margin-bottom: 24px;
}
#footer h5{
        font-family: Poppins;
        font-weight: 600;
        font-size: 32px;
        color: #FBC343;
}

#footer p{
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color: #1B3164;
    margin-bottom: 8px;
}

#footer ul{
    list-style-type: none;
    padding: 0;
}

#footer li{
    margin-bottom: 16px;
}

#footer li a,
#footer li a:hover {
    color: #1B3164;
    text-decoration: underline;
    font-family: Poppins;
    font-size: 14px;
}

@media screen and (min-device-width: 300px) and (max-device-width: 900px){

    /* Menu section */
    #hero-section{
        margin-top: 24px;
    }

    #hero-section h2{
        font-size: 56px;
    }

    #hero-section h5{
        font-size: 20px;
    }

    #hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-primary{
        width: 80vw;
        margin-bottom: 16px;
    }

    #how-to-section{
        background-color: #FFFFFF;
        box-shadow: none;
    }

    #how-to-section .title{
        margin-bottom: 24px;
    }

    .get-started-step{
        margin-bottom: 24px;
    }

    #benefits-section{
         margin-top: 40px;
    }

    #benefits-section h3{
         font-size: 40px;
    }
    #product-benefit-image{
        display: none;
    }

    #data-storage,
    #tenant-payment {
        margin-top: 40px;
    }

    #data-storage h3,
    #tenant-payment h3 {
        font-size: 40px;
    }

    #data-storage .features-group,
    #tenant-payment .features-group {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    #data-storage .feature img,
    #tenant-payment .feature img {
        width: 64px;
        margin-bottom: 24px;
    }

    #pricing-section {
        text-align: center;
        margin-top: 40px;
    }

    #pricing-section h4 {
        font-size: 32px;
    }

    #pricing-section h2 {
        font-size: 56px;

    }

    #pricing-section h5 {
        font-size: 20px;

    }

    #CTA h3 {
        font-size: 40px;
    }

   
}

